@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* Estilos para la sección de ayuda */
.ayuda {
    padding: 20px;
}

.ayuda h2 {
    font-size: 24px;
    color: #333;
}

/* Estilos para el acordeón */
.acordeon {
    border: 1px solid #ccc;
}

.pregunta {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.pregunta h3 {
    font-size: 18px;
    color: #555;
    margin: 0;
    padding: 10px;
}

.respuesta {
    display: none;
    color: #000000;
    padding: 10px;
}

.enlace {
    color: #6a7db8;
}
/*Pie de Pagina*/
