<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>Spring eCommerce</title>
    
    
        <!-- Bootstrap core CSS -->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/ayuda.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
        <!-- Custom styles for this template -->
    </head>
<body>
    <!--::::Header::::::-->
    <!-- Navigation | if: si la session es null se mostrara determinado header-->
    <div th:include="user/template_user.html::header" th:if="${sesion==null}">
    </div>

    <div th:include="user/template_user.html::header-user" th:unless="${sesion==null}">
    </div>

        <section class="ayuda">
            <h2>Preguntas Frecuentes</h2>
            <div class="acordeon">
                <div class="pregunta">
                    <h3>¿Cómo puedo contactar al soporte?</h3>
                    <div class="respuesta">
                        <p>Puede contactar al soporte a través de nuestro <a class="enlace" href="/contacto/contacto.html">formulario de contacto</a>.</p>
                    </div>
                </div>
                <div class="pregunta">
                    <h3>¿Cómo restablecer mi contraseña?</h3>
                    <div class="respuesta">
                        <p>Para restablecer su contraseña, vaya a la página de <a class="enlace" href="/restablecer-contrasena">restablecimiento de contraseña</a> y siga las instrucciones.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="ayuda">
            <h2>Guía de compras</h2>
            <div class="acordeon">
                <div class="pregunta">
                    <h3>¿Cómo encontrar producto?</h3>
                    <div class="respuesta">
                        <p>Para encontrar nuestros productos explora nuestra <a class="enlace" href="/tienda/tienda.html">tienda</a>. Además podes encontrar una seccion de categorias
                        y filtro de busqueda para encontrar lo que necesitas </p>
                    </div>
                </div>
                <div class="pregunta">
                    <h3>¿Cómo hacer un pedido?</h3>
                    <div class="respuesta">
                        <p> Para hacer un pedido dirigite a nuestra <a class="enlace" href="/tienda/tienda.html">tienda de ropa</a>, agrega productos al carrito, ve al carrito y sigue los pasos para completar tu pedido.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="ayuda">
            <h2>Politica de Devoluciones</h2>
            <div class="acordeon">
                <div class="pregunta">
                    <h3>¿Cómo debo hacer?</h3>
                    <div class="respuesta">
                        <p>Para obtener información sobre cómo devolver productos y solicitar reembolsos dirigete a <a class="enlace" href="/ayuda/politica-devolucion.html">nuestra política de devoluciones</a>.
                    </div>
                </div>
            </div>
        </section>
        <section class="ayuda">
            <h2>Guía de talles</h2>
            <div class="acordeon">
                <div class="pregunta">
                    <h3>¿Cómo se cual es mi talle?</h3>
                    <div class="respuesta">
                        <p>Encuentra el talle perfecto con nuestra guía de tallas y medidas. Te ayudaremos a elegir el <a class="enlace" href="/ayuda/talle.html">talle</a> adecuado para tu ropa urbana favorita.
                    </div>
                </div>
            </div>
        </section>

<!--::::Pie de Pagina::::::-->
<div th:include="user/template_user.html::footer"></div>

</body>
</html>
