<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/contacto.css}">
    <!-- Custom styles for this template -->

</head>

<body>

    <header>
        <nav>
            <div class="logo">
                <a th:href="@{/}"><img th:src="@{/images/donatto.png}" class="Market"></a></li>
            </div>
            <div class="menu">
                <ul>
                    <li><a th:href="@{/user/compras}">Compras</a></li>
                    <li><a th:href="@{/getCart}">Carrito</a></li>
                    <li><a th:href="@{/user/contactos}">Contacto</a></li>
                    <li><a th:href="@{/user/cerrar}">Salir</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">Bienvenido a Donatto</h1>
        </header>

        <!-- Page Features -->
        <div class="contact-form">
            <h1>CONTÁCTENOS</h1>
            <form action="procesar.php" method="post">
                <div class="input-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="input-group">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="mensaje">Mensaje:</label>
                    <textarea id="mensaje" name="mensaje" rows="10" required></textarea>
                </div>
                <button type="submit">Enviar</button>
                <div class="social-icons">
                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fa fa-instagram"></i></a>
                </div>
            </form>
        </div>
        <!-- /.row -->

    </div>

</body>

</html>