<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DONATTO INDUMENTARIA</title>
    <link rel="shortcut icon" href="./images/favicon.jpg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/ea58c9055e.js" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/ofertas.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <!-- Custom styles for this template -->
</head>

<body>
    <!-- Navigation | if: si la session es null se mostrara determinado header-->
    <div th:include="user/template_user.html::header" th:if="${sesion==null}">
    </div>

    <div th:include="user/template_user.html::header-user" th:unless="${sesion==null}">
    </div>

    <section class="container">
        <div class="products">
            <div class="carts">
                <div>
                    <img src="./products/producto1.jpg" alt="">
                    <span class="offer">50% OFF</span>
                    <p>$<span>8500</span></p>
                </div>
                <p class="title">Remera Blanca Navy</p>
                <p class="selected-talle">
                    <span class="talle-value"></span>
                </p>
                <select class="talle-dropdown">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                <a href="javascript:void(0);" data-id="1" class="btn-add-cart">Agregar al carrito</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./products/producto2.jpg" alt="">
                    <p>$<span>25000</span></p>
                    <span class="offer">25% OFF</span>
                </div>
                <p class="title">Cargo Negro Luxur</p>
                <p class="selected-talle">
                    <span class="talle-value"></span>
                </p>
                <select class="talle-dropdown">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                <a href="javascript:void(0);" data-id="2" class="btn-add-cart">Agregar al carrito</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./products/producto3.jpg" alt="">
                    <p>$<span>18000</span></p>
                    <span class="offer">10% OFF</span>
                </div>
                <p class="title">Hoddie Course</p>
                <p class="selected-talle">
                    <span class="talle-value"></span>
                </p>
                <select class="talle-dropdown">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                <a href="javascript:void(0);" data-id="3" class="btn-add-cart">Agregar al carrito</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./products/producto4.jpg" alt="">
                    <p>$<span>15000</span></p>
                    <span class="offer">10% OFF</span>
                </div>
                <p class="title">Buzo Montana Struck</p>
                <p class="selected-talle">
                    <span class="talle-value"></span>
                </p>
                <select class="talle-dropdown">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                <a href="javascript:void(0);" data-id="4" class="btn-add-cart">Agregar al carrito</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./products/producto5.jpg" alt="">
                    <p>$<span>10500</span></p>
                    <span class="offer">30% OFF</span>
                </div>
                <p class="title">Buzo White Peace</p>
                <p class="selected-talle">
                    <span class="talle-value"></span>
                </p>
                <select class="talle-dropdown">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                <a href="javascript:void(0);" data-id="5" class="btn-add-cart">Agregar al carrito</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./products/producto6.jpg" alt="">
                    <p>$<span>10000</span></p>
                    <span class="offer">20% OFF</span>
                </div>
                <p class="title">Remera Shelby Mahurin</p>
                <p class="selected-talle">
                    <span class="talle-value"></span>
                </p>
                <select class="talle-dropdown">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                <a href="javascript:void(0);" data-id="6" class="btn-add-cart">Agregar al carrito</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./products/producto7.jpg" alt="">
                    <p>$<span>20900</span></p>
                    <span class="offer">8% OFF</span>
                </div>
                <p class="title">Cargo Marrón Luxur</p>
                <p class="selected-talle">
                    <span class="talle-value"></span>
                </p>
                <select class="talle-dropdown">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                <a href="javascript:void(0);" data-id="7" class="btn-add-cart">Agregar al carrito</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./products/producto8.jpg" alt="">
                    <p>$<span>9000</span></p>
                    <span class="offer">35% OFF</span>
                </div>
                <p class="title">Remera Custom Yellow</p>
                <p class="selected-talle">
                    <span class="talle-value"></span>
                </p>
                <select class="talle-dropdown">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                <a href="javascript:void(0);" data-id="8" class="btn-add-cart">Agregar al carrito</a>
            </div>
    </section>
    </section>
    <!--::::Pie de Pagina::::::-->
    
    <div th:include="user/template_user.html::footer">
    </div>
    <!-- Bootstrap core JavaScript -->
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- 
    </script>
    <script src="./js/oferta.js"></script>-->
</body>

</html>